body {
    background: url("DefaultBarWoodenBackground.jpg")no-repeat scroll 0 0 / 100% 100% transparent !important;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

#header {
    text-align: center;
}

#R {
    font-family: Formata BQ sans-serif;
    color: red;
}

button {
    border: none;
    border-radius: 6px;
    background-color: white;
    color: black;
}

button:active {
    background: transparent;
    border: 2px solid #FFFFFF;
}

#map {
    height: 440px;
}

#markerBarName {
    font-weight: bold;
    color: black;
}

#markerAddress {
    color: black;
}

#hoursOfOperation {
    padding-left: 20px;
    list-style-type: square;
}

.closedDay {
    font-weight: bold;
    color: red;
}

#errorSection > p {
    font-weight: bold;
    color: red;
}

#errorSectionRating > p {
    font-weight: bold;
    color: red;
}

#successSection > p {
    font-weight: bold;
    color: green;
}

#successSectionRating > p {
    font-weight: bold;
    color: green;
}

#Twitter {
    height: 500px;
    overflow: scroll;
}

#twitterFeed .tweet {
    background: transparent;
}

#twitterFeed .tweet .user {
    font-weight: bold;
}

#twitterFeed .tweet .badge.favorites {
    background-color: #FF0000;
}

#twitterFeed .tweet .badge.retweets {
    background-color: #008000;
}

#Instagram {
    height: 500px;
    overflow: scroll;
}

#instaFeed .post {
    background: transparent;
}

#instaFeed .post .badge.likes {
    background-color: #FF0000;
}

#Comments {
    height: 350px;
    overflow: scroll;
}

#commentsSectionList .comment {
    background: transparent;
}

#commentsSectionList .comment .commentNames {
    font-weight: bold;
}

.description {
    font-style: italic;
}

.currentBarRating {
    font-weight: bold;
    font-size: 25px;
}

.barInformation {
    font-style: italic;
}

#badRating {
    color: #FF0000;
}

#poorRating {
    color: #FF9900;
}

#okayRating {
    color: #CCCC00;
}

#goodRating {
    color: #73e600;
}

#greatRating {
    color: #29a329;
}

#NARating {
    color: #000000;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}